﻿body {
}
.reportArea
{
	width: 100%;
	font-size: 10pt;
	color: black;
	font-family: Arial;
	margin: 0;
	float: none;
}
.reportArea .pageHeading
{
	font-weight: bold;
	font-size: 12pt;
	color: black;
	font-family: Arial;
}
.reportArea .heading
{
	font-weight: bold;
	font-size: 10pt;
	color: black;
	font-family: Arial;
}