<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Report.master.cs" Inherits="Common_Report" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <link href="../Common/ReportStyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="../Common/ReportStyleSheet.css" rel="stylesheet" type="text/css" media="print"/>
</head>
<body>
    <form id="form1" runat="server">
    <div class="reportArea">
        <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
        </asp:contentplaceholder>
    </div>
    </form>
</body>
</html>
