﻿.shadetabs
{
    /*border-bottom: 1px solid #292F8D;*/
    width: 1000px; /*width of menu. Uncomment to change to a specific width */
    margin-bottom: 0em;
    margin-left: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #292F8D;
}

.shadetabs ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
/*color: #2d2b2b;*/
background: white url(../Images/shade.gif) top left repeat-x;
color:#292F8D;
}

.test a:link
{
	color: #ffffff;
}

.shadetabs li a:visited{
color: #292F8D;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li.selected{
position: relative;
top: 1px;
}

.shadetabs li.selected a{ /*selected main tab style */
background-image: url(../Images/shadeactive.gif);
border-bottom-color: white;
color:#292F8D;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}
