<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TimeControl.ascx.cs" Inherits="Common_TimeControl" %>
<asp:DropDownList ID="ddlHour" runat="server" CssClass="dropDownListStyle">
</asp:DropDownList>
<asp:DropDownList ID="ddlMin" runat="server" CssClass="dropDownListStyle">
</asp:DropDownList>
