﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RejectExam.aspx.cs" Inherits="Radiologist_RejectExam" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div>Reason for Rejection:
        </div>
        <br />
        <div>
            <asp:TextBox ID="tbRejectionReason" runat="server" TextMode="MultiLine" Rows="5" Width="500px"></asp:TextBox>
            <asp:RequiredFieldValidator ID="rfv1" runat="server" ErrorMessage="*" ControlToValidate="tbRejectionReason"></asp:RequiredFieldValidator>
        </div>
        <div>
            <br />
            <asp:Button ID="btnReject" runat="server" Text="Reject Exam" Visible="false" 
                onclick="btnReject_Click"/>
        </div>
    </div>
    </form>
</body>
</html>
