<%@ Page Language="C#" MasterPageFile="~/Common/Login.master" AutoEventWireup="true" CodeFile="ErrorPage.aspx.cs" Inherits="SharedPages_ErrorPage" Title="DataMed | Radiology Information System | Error" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="lblError" runat="server" CssClass="heading" ForeColor="Red"></asp:Label>
</asp:Content>

